# macOS
.DS_Store

# environment variables
.env

# dependencies
node_modules/

# React Router
.react-router/

# build files
build/
dist/

# uploads
uploads/

# logs
*.log

# vite
.vite/

# coverage
coverage/